Admin.json
[
    {
        "id": "86f04ed5.0bea1",
        "type": "tab",
        "label": "Admin",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6b6e125f.faa02c",
        "type": "function",
        "z": "86f04ed5.0bea1",
        "name": "",
        "func": "msg.payload = msg.payload.insights.personality[0].percentile;\nmsg.enabled = \"false\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1000,
        "y": 60,
        "wires": [
            [
                "a15f1702.b33048"
            ]
        ]
    },
    {
        "id": "8d1668b7.200cc8",
        "type": "function",
        "z": "86f04ed5.0bea1",
        "name": "",
        "func": "msg.payload = msg.payload.insights.personality[1].percentile;\nmsg.enabled = false;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1000,
        "y": 120,
        "wires": [
            [
                "6af322fc.3a732c"
            ]
        ]
    },
    {
        "id": "1ac36ffa.5c08a",
        "type": "function",
        "z": "86f04ed5.0bea1",
        "name": "",
        "func": "msg.payload = msg.payload.insights.personality[3].percentile;\nmsg.enabled = false;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1000,
        "y": 180,
        "wires": [
            [
                "1c178db0.5ba3a2"
            ]
        ]
    },
    {
        "id": "6f8ec89b.767038",
        "type": "function",
        "z": "86f04ed5.0bea1",
        "name": "",
        "func": "msg.payload = msg.payload.Total_Score\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1080,
        "y": 720,
        "wires": [
            [
                "713a52d9.febafc"
            ]
        ]
    },
    {
        "id": "b1743cef.f02a5",
        "type": "function",
        "z": "86f04ed5.0bea1",
        "name": "",
        "func": "msg.payload = msg.payload.insights.needs[0].percentile;\nmsg.enabled = false;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1020,
        "y": 300,
        "wires": [
            [
                "b67e8d68.d9c74"
            ]
        ]
    },
    {
        "id": "6d832567.85f95c",
        "type": "function",
        "z": "86f04ed5.0bea1",
        "name": "",
        "func": "msg.payload = msg.payload.insights.needs[8].percentile;\nmsg.enabled = false;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1020,
        "y": 420,
        "wires": [
            [
                "d68e8340.fda04"
            ]
        ]
    },
    {
        "id": "c8649829.5f7ae8",
        "type": "function",
        "z": "86f04ed5.0bea1",
        "name": "",
        "func": "msg.payload = msg.payload.insights.needs[2].percentile;\nmsg.enabled = false;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1020,
        "y": 360,
        "wires": [
            [
                "9edcd4a8.eca198"
            ]
        ]
    },
    {
        "id": "e6240e87.a19e",
        "type": "function",
        "z": "86f04ed5.0bea1",
        "name": "",
        "func": "msg.payload=insights.personality[3].children[4].percentile;\nmsg.enabled=false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1020,
        "y": 480,
        "wires": [
            [
                "43b3899.ce5bb78"
            ]
        ]
    },
    {
        "id": "943d6375.67882",
        "type": "function",
        "z": "86f04ed5.0bea1",
        "name": "",
        "func": "msg.payload=insights.personality[3].children[5].name.percentile;\nmsg.enabled = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1020,
        "y": 540,
        "wires": [
            [
                "c2c762b0.7ec08"
            ]
        ]
    },
    {
        "id": "960bcdc8.8f265",
        "type": "function",
        "z": "86f04ed5.0bea1",
        "name": "",
        "func": "msg.payload = \"Name: \"+msg.payload.Name+\"<br>Designation: \"+\n                msg.payload.Designation+\"<br>Status: \"+\n                msg.payload.Status+\"<br>Linkedin Profile: \"+\n                msg.payload.Linkedin;\n                \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1080,
        "y": 660,
        "wires": [
            [
                "df4ac433.8eafd8"
            ]
        ]
    },
    {
        "id": "b67e8d68.d9c74",
        "type": "ui_slider",
        "z": "86f04ed5.0bea1",
        "name": "",
        "label": "Challenge",
        "tooltip": "",
        "group": "101d16dd.6919b9",
        "order": 9,
        "width": 4,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "1",
        "step": "0.01",
        "x": 1200,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "a15f1702.b33048",
        "type": "ui_slider",
        "z": "86f04ed5.0bea1",
        "name": "",
        "label": "Openness",
        "tooltip": "",
        "group": "101d16dd.6919b9",
        "order": 4,
        "width": "5",
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "1",
        "step": "0.01",
        "x": 1190,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "6af322fc.3a732c",
        "type": "ui_slider",
        "z": "86f04ed5.0bea1",
        "name": "",
        "label": "Integrity",
        "tooltip": "",
        "group": "101d16dd.6919b9",
        "order": 7,
        "width": 4,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "1",
        "step": "0.01",
        "x": 1180,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "1c178db0.5ba3a2",
        "type": "ui_slider",
        "z": "86f04ed5.0bea1",
        "name": "",
        "label": "Cordiality",
        "tooltip": "",
        "group": "101d16dd.6919b9",
        "order": 8,
        "width": "5",
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "1",
        "step": "0.01",
        "x": 1180,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "d68e8340.fda04",
        "type": "ui_slider",
        "z": "86f04ed5.0bea1",
        "name": "",
        "label": "Practicality",
        "tooltip": "",
        "group": "101d16dd.6919b9",
        "order": 6,
        "width": "5",
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "1",
        "step": "0.01",
        "x": 1210,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "9edcd4a8.eca198",
        "type": "ui_slider",
        "z": "86f04ed5.0bea1",
        "name": "",
        "label": "Curiosity",
        "tooltip": "",
        "group": "101d16dd.6919b9",
        "order": 5,
        "width": 4,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "1",
        "step": "0.01",
        "x": 1200,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "43b3899.ce5bb78",
        "type": "ui_slider",
        "z": "86f04ed5.0bea1",
        "name": "",
        "label": "Sympathy",
        "tooltip": "",
        "group": "101d16dd.6919b9",
        "order": 10,
        "width": "5",
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "1",
        "step": "0.01",
        "x": 1200,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "c2c762b0.7ec08",
        "type": "ui_slider",
        "z": "86f04ed5.0bea1",
        "name": "",
        "label": "Certainty",
        "tooltip": "",
        "group": "101d16dd.6919b9",
        "order": 11,
        "width": 4,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "1",
        "step": "0.01",
        "x": 1200,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "df4ac433.8eafd8",
        "type": "ui_text",
        "z": "86f04ed5.0bea1",
        "group": "101d16dd.6919b9",
        "order": 3,
        "width": "9",
        "height": 4,
        "name": "Details",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1250,
        "y": 660,
        "wires": []
    },
    {
        "id": "713a52d9.febafc",
        "type": "ui_gauge",
        "z": "86f04ed5.0bea1",
        "name": "",
        "group": "101d16dd.6919b9",
        "order": 12,
        "width": "9",
        "height": 4,
        "gtype": "gage",
        "title": "Test Score",
        "label": "",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "15",
        "colors": [
            "#c83737",
            "#e6e600",
            "#62b842"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1270,
        "y": 720,
        "wires": []
    },
    {
        "id": "5e74ffe0.aa075",
        "type": "ui_text_input",
        "z": "86f04ed5.0bea1",
        "name": "userinput",
        "label": "Enter Email to search",
        "tooltip": "",
        "group": "599af984.1457e8",
        "order": 3,
        "width": "8",
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "search",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "10b3e15b.17d3af"
            ]
        ]
    },
    {
        "id": "e3d30399.579f2",
        "type": "ui_button",
        "z": "86f04ed5.0bea1",
        "name": "",
        "group": "599af984.1457e8",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Search",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "search",
        "payload": "false",
        "payloadType": "bool",
        "topic": "submit",
        "x": 120,
        "y": 540,
        "wires": [
            [
                "10b3e15b.17d3af",
                "df7cc058.59399",
                "ebdc94ec.8a9b48",
                "e4e9bd0f.b6c98",
                "32856c2d.aa3614"
            ]
        ]
    },
    {
        "id": "10b3e15b.17d3af",
        "type": "function",
        "z": "86f04ed5.0bea1",
        "name": "",
        "func": "// var lastinput = context.get(\"lastinput\") || \"\";\n\n// if(msg.topic === \"search\"){\n//     lastinput = msg.payload;\n//     context.set(\"lastinput\",lastinput);\n// }\n// if(msg.topic === \"submit\"){\n//     msg.payload = lastinput;\n// }\n\n// var email = msg.payload;\n\n// msg.payload = {\n//     \"_id\": email,\n// }\n\n// return msg;\n\nvar data = context.get(\"data\") || 0;\n\nif(msg.topic === \"search\"){\n    data = msg.payload;\n    context.set(\"data\",data);\n    //if no output is needed while writting, stop the flow right here\n    return\n}\nif(msg.topic === \"submit\"){\n    msg.payload = data;\n}\n\nvar email = msg.payload;\nmsg.payload = {\n    \"_id\": email,\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 480,
        "wires": [
            [
                "19f5467c.fbdeba",
                "22836e7c.1a6cd2",
                "237f0cc3.37e514"
            ]
        ]
    },
    {
        "id": "df7cc058.59399",
        "type": "change",
        "z": "86f04ed5.0bea1",
        "name": "clear_input",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "null",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 130,
        "y": 460,
        "wires": [
            [
                "5e74ffe0.aa075"
            ]
        ]
    },
    {
        "id": "19f5467c.fbdeba",
        "type": "cloudantplus in",
        "z": "86f04ed5.0bea1",
        "name": "",
        "cloudant": "12005d15.bff2e3",
        "database": "candidate_details",
        "service": "_ext_",
        "search": "_id_",
        "design": "",
        "index": "",
        "x": 850,
        "y": 680,
        "wires": [
            [
                "6f8ec89b.767038",
                "960bcdc8.8f265"
            ]
        ]
    },
    {
        "id": "22836e7c.1a6cd2",
        "type": "cloudantplus in",
        "z": "86f04ed5.0bea1",
        "name": "",
        "cloudant": "12005d15.bff2e3",
        "database": "personality_insights",
        "service": "_ext_",
        "search": "_id_",
        "design": "",
        "index": "",
        "x": 670,
        "y": 280,
        "wires": [
            [
                "6b6e125f.faa02c",
                "8d1668b7.200cc8",
                "1ac36ffa.5c08a",
                "b1743cef.f02a5",
                "c8649829.5f7ae8",
                "e6240e87.a19e",
                "943d6375.67882"
            ]
        ]
    },
    {
        "id": "c50a706a.d4706",
        "type": "cloudantplus in",
        "z": "86f04ed5.0bea1",
        "name": "shortlisted",
        "cloudant": "12005d15.bff2e3",
        "database": "candidate_details",
        "service": "_ext_",
        "search": "_idx_",
        "design": "sort_candidates",
        "index": "status",
        "x": 570,
        "y": 1060,
        "wires": [
            [
                "abcf0ae4.5a3a78",
                "8baec4c9.4b2e78"
            ]
        ]
    },
    {
        "id": "29d80ea6.cc64d2",
        "type": "function",
        "z": "86f04ed5.0bea1",
        "name": "selector",
        "func": "var status = msg.payload;\nvar search = \"\";\n\nif(status === 'shortlisted'){\n    search = {\n    query: \"status:shortlisted\",\n    sort: \"_id<string>\",\n    }\n}\nelse if(status === 'selected'){\n    search = {\n    query: \"status:selected\",\n    sort: \"score<string>\",\n    }\n}\nmsg.payload = search;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 1060,
        "wires": [
            [
                "c50a706a.d4706"
            ]
        ]
    },
    {
        "id": "237f0cc3.37e514",
        "type": "debug",
        "z": "86f04ed5.0bea1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 480,
        "wires": []
    },
    {
        "id": "ebdc94ec.8a9b48",
        "type": "function",
        "z": "86f04ed5.0bea1",
        "name": "",
        "func": "msg.payload={\"tab\":\"Admin Panel\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 140,
        "y": 680,
        "wires": [
            [
                "ca6833ce.feb06"
            ]
        ]
    },
    {
        "id": "ca6833ce.feb06",
        "type": "ui_ui_control",
        "z": "86f04ed5.0bea1",
        "name": "",
        "events": "all",
        "x": 140,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "24ab8c1c.6db0f4",
        "type": "ui_template",
        "z": "86f04ed5.0bea1",
        "group": "599af984.1457e8",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<!--<div ng-bind-html=\"msg.payload\"></div>-->\n<style>\n    p{\n        font-size: 18px;\n    }\n    body{\n        /*background-image: url(\"https://i.ibb.co/DrH8Xw1/wp2848515-hd-technology-wallpapers-1080p-20200707212653252-20200710220004581.jpg\");*/\n        background-image: url(\"https://i.ibb.co/DWCnsV0/wp2848515-hd-technology-wallpapers-1080p-20200707212653252-20200710220004581.jpg\");\n        background-size: cover;\n         background-position: center;\n         background-repeat: no-repeat;\n    }\n\n</style>\n<body>\n<h2 align=\"center\">Candidate List</h2>\n<p>\nPlease note:<br>\n1. Select the type of list you want to display(Selected/Shortlisted).<br>\n2. The selection was based on a Technical test conducted by AIR Bot.<br>\n3. Please enter email of a particular candidate in searchbox to see his/her full report.<br>\n</p>\n</body>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 160,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "b5216b09.6e91c8",
        "type": "ui_button",
        "z": "86f04ed5.0bea1",
        "name": "",
        "group": "101d16dd.6919b9",
        "order": 1,
        "width": "9",
        "height": "1",
        "passthru": true,
        "label": "Back to search",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "arrow_back",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 960,
        "y": 840,
        "wires": [
            [
                "d1fdfef9.db46f",
                "3669d21c.4a4c8e",
                "44a4435b.5de7ec"
            ]
        ]
    },
    {
        "id": "d1fdfef9.db46f",
        "type": "function",
        "z": "86f04ed5.0bea1",
        "name": "",
        "func": "msg.payload={\"tab\":\"Selected List\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1160,
        "y": 840,
        "wires": [
            [
                "39ca277a.9859b8"
            ]
        ]
    },
    {
        "id": "39ca277a.9859b8",
        "type": "ui_ui_control",
        "z": "86f04ed5.0bea1",
        "name": "",
        "events": "change",
        "x": 1300,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "3669d21c.4a4c8e",
        "type": "change",
        "z": "86f04ed5.0bea1",
        "name": "clear score",
        "rules": [
            {
                "t": "set",
                "p": "payload.Total_Score",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 780,
        "wires": [
            [
                "713a52d9.febafc"
            ]
        ]
    },
    {
        "id": "35ed517a.14926e",
        "type": "ui_dropdown",
        "z": "86f04ed5.0bea1",
        "name": "",
        "label": "Candidate Status",
        "tooltip": "",
        "place": "",
        "group": "599af984.1457e8",
        "order": 5,
        "width": "0",
        "height": "0",
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Please select",
                "value": "pls",
                "type": "str"
            },
            {
                "label": "Selected",
                "value": "selected",
                "type": "str"
            },
            {
                "label": "Shortlisted",
                "value": "shortlisted",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 170,
        "y": 940,
        "wires": [
            [
                "29d80ea6.cc64d2"
            ]
        ]
    },
    {
        "id": "e4e9bd0f.b6c98",
        "type": "change",
        "z": "86f04ed5.0bea1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 400,
        "wires": [
            [
                "a15f1702.b33048",
                "6af322fc.3a732c",
                "1c178db0.5ba3a2",
                "b67e8d68.d9c74",
                "d68e8340.fda04",
                "43b3899.ce5bb78",
                "c2c762b0.7ec08",
                "9edcd4a8.eca198"
            ]
        ]
    },
    {
        "id": "881988ee.b6c628",
        "type": "ui_template",
        "z": "86f04ed5.0bea1",
        "group": "599af984.1457e8",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    body{\n        background-image: url(\"https://i.ibb.co/DWCnsV0/wp2848515-hd-technology-wallpapers-1080p-20200707212653252-20200710220004581.jpg\");\n        background-size: cover;\n         background-position: center;\n         background-repeat: no-repeat;\n    }\n</style>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 380,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "9348b0f4.42bf9",
        "type": "ui_template",
        "z": "86f04ed5.0bea1",
        "group": "101d16dd.6919b9",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<style>\n    body{\n        background-image: url(\"https://i.ibb.co/DWCnsV0/wp2848515-hd-technology-wallpapers-1080p-20200707212653252-20200710220004581.jpg\");\n        background-size: cover;\n         background-position: center;\n         background-repeat: no-repeat;\n    }\n</style>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 380,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "e2a88eed.60532",
        "type": "inject",
        "z": "86f04ed5.0bea1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "selected",
        "payloadType": "str",
        "x": 160,
        "y": 1040,
        "wires": [
            [
                "29d80ea6.cc64d2"
            ]
        ]
    },
    {
        "id": "abcf0ae4.5a3a78",
        "type": "function",
        "z": "86f04ed5.0bea1",
        "name": "",
        "func": "var array = msg.payload;\n//var list = \"\";\nvar list = [];\nvar i=1;\nvar j=0;\n\narray.forEach(function (element,index) {\n    list[j] = (i++)+\". \"+element.Name+\": \"+element._id;\n    j++;\n});\n\nlist=list.join(\"<br>\") + \"<br>\";\nmsg.payload=list;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 760,
        "y": 1120,
        "wires": [
            [
                "ec3b1463.5ec2d8",
                "935710c4.df614",
                "abfd662a.8ba7b8"
            ]
        ]
    },
    {
        "id": "ec3b1463.5ec2d8",
        "type": "debug",
        "z": "86f04ed5.0bea1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 980,
        "wires": []
    },
    {
        "id": "935710c4.df614",
        "type": "ui_text",
        "z": "86f04ed5.0bea1",
        "d": true,
        "group": "599af984.1457e8",
        "order": 6,
        "width": "8",
        "height": "10",
        "name": "",
        "label": "List of Candidates:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1010,
        "y": 1060,
        "wires": []
    },
    {
        "id": "abfd662a.8ba7b8",
        "type": "ui_template",
        "z": "86f04ed5.0bea1",
        "group": "599af984.1457e8",
        "name": "",
        "order": 8,
        "width": "8",
        "height": "7",
        "format": "<style>\n    .a{\n        text-align: justify;\n    }\n</style>\n<div class=\"a\" ng-bind-html=\"msg.payload\"></div>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1120,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "32856c2d.aa3614",
        "type": "change",
        "z": "86f04ed5.0bea1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "pls",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 860,
        "wires": [
            [
                "35ed517a.14926e"
            ]
        ]
    },
    {
        "id": "6609eca0.9fac24",
        "type": "ui_form",
        "z": "86f04ed5.0bea1",
        "name": "",
        "label": "",
        "group": "66a0b9a0.e08068",
        "order": 1,
        "width": "0",
        "height": "0",
        "options": [
            {
                "label": "Enter Admin Id",
                "value": "Admin_id",
                "type": "email",
                "required": true,
                "rows": null
            },
            {
                "label": "Enter Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Admin_id": "",
            "password": ""
        },
        "payload": "",
        "submit": "Login",
        "cancel": "",
        "topic": "",
        "x": 310,
        "y": 1300,
        "wires": [
            [
                "f4a6534e.f68d6",
                "1e4e5bc4.410234",
                "16741807.e4b8c8",
                "c3d2fe9e.4b50e",
                "32856c2d.aa3614"
            ]
        ]
    },
    {
        "id": "f4a6534e.f68d6",
        "type": "function",
        "z": "86f04ed5.0bea1",
        "name": "",
        "func": "if(msg.payload.Admin_id===\"admin@admin.com\" && msg.payload.password===\"admin123\")\n{\nmsg.payload={\"tab\":\"Selected List\"};\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 620,
        "y": 1320,
        "wires": [
            [
                "b47df34.c50b81"
            ]
        ]
    },
    {
        "id": "b47df34.c50b81",
        "type": "ui_ui_control",
        "z": "86f04ed5.0bea1",
        "name": "",
        "events": "change",
        "x": 820,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "1e4e5bc4.410234",
        "type": "debug",
        "z": "86f04ed5.0bea1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 1260,
        "wires": []
    },
    {
        "id": "16741807.e4b8c8",
        "type": "function",
        "z": "86f04ed5.0bea1",
        "name": "",
        "func": "if(msg.payload.Admin_id!==\"admin@admin.com\" || msg.payload.password!==\"admin123\")\n{\nmsg.payload=\"Invalid id or password!!\";\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 620,
        "y": 1380,
        "wires": [
            [
                "d93c4da2.32d8a"
            ]
        ]
    },
    {
        "id": "d93c4da2.32d8a",
        "type": "ui_toast",
        "z": "86f04ed5.0bea1",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "topic": "",
        "name": "",
        "x": 830,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "c3d2fe9e.4b50e",
        "type": "change",
        "z": "86f04ed5.0bea1",
        "name": "Clear_input",
        "rules": [
            {
                "t": "set",
                "p": "payload.Admin_id",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.password",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 1180,
        "wires": [
            [
                "6609eca0.9fac24"
            ]
        ]
    },
    {
        "id": "d2131c69.5616b",
        "type": "ui_template",
        "z": "86f04ed5.0bea1",
        "group": "66a0b9a0.e08068",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<style>\n    body{\n        background-image: url(\"https://i.ibb.co/DWCnsV0/wp2848515-hd-technology-wallpapers-1080p-20200707212653252-20200710220004581.jpg\");\n        background-size: cover;\n         background-position: center;\n         background-repeat: no-repeat;\n    }\n</style>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 300,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "8baec4c9.4b2e78",
        "type": "function",
        "z": "86f04ed5.0bea1",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 720,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "44a4435b.5de7ec",
        "type": "change",
        "z": "86f04ed5.0bea1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 960,
        "wires": [
            [
                "abfd662a.8ba7b8"
            ]
        ]
    },
    {
        "id": "101d16dd.6919b9",
        "type": "ui_group",
        "z": "",
        "name": "Dashboard",
        "tab": "484d2504.c6f78c",
        "order": 1,
        "disp": false,
        "width": "9",
        "collapse": false
    },
    {
        "id": "599af984.1457e8",
        "type": "ui_group",
        "z": "",
        "name": "Selected",
        "tab": "9f15644b.26c838",
        "order": 1,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "12005d15.bff2e3",
        "type": "cloudantplus",
        "z": "",
        "host": "https://51b712d0-68e4-43cb-bb2d-1bda8ede43ba-bluemix.cloudantnosqldb.appdomain.cloud",
        "name": "sid"
    },
    {
        "id": "66a0b9a0.e08068",
        "type": "ui_group",
        "z": "",
        "name": "LOGIN",
        "tab": "cd220235.5a40f",
        "order": 1,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "484d2504.c6f78c",
        "type": "ui_tab",
        "z": "",
        "name": "Admin Panel",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9f15644b.26c838",
        "type": "ui_tab",
        "z": "",
        "name": "Selected List",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cd220235.5a40f",
        "type": "ui_tab",
        "z": "",
        "name": "Admin login",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]